@model User
<style>
    .login--wrapper {
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="login--wrapper">
    <div class="card w-25">
        <form class="form" method="post">

            <label asp-for="@Model.Email" class="form-label">Emial</label>
            <input asp-for="@Model.Email" class="form-control" />
            <label asp-for="@Model.Password" class="form-label">Password</label>
            <input asp-for="@Model.Password" class="form-control" />
            <button type="submit" asp-controller="Auth" asp-action="Login">Login</button>

        </form>
    </div>
</div>